.allWin-page
    .banner
        .container
            .banner__wrapp
                .banner__title
                    .banner__title-top КЕШБЕК ЗА АКТИВНУ ГРУ
                    .banner__title-bottom ДО 10% #[span *]
                a.banner__btn.btn(href="/personal-office/balance/deposit/") Депозит
            .banner__img
                picture
                    source(media="(max-width: 600px)" srcset="img/banner-bg-mob.jpg")
                    source(media="(max-width: 1050px)" srcset="img/banner-bg-tab.jpg")
                    img(src="img/banner-bg-desc.jpg" alt="all win")
            .banner__info *Загальний призовий фонд акції “Кешбек за активну гру”, розмір та вид бонусної пропозиції формується виключно на розсуд Організатора. Період дії акції – з 00:00 10.12.2025 по 23:59 31.01.2026. Деталі на сайті allwinua.com. Бонус доступний тільки для зареєстрованих гравців.
    ._wrapper
        ._wrapper__left
            ._wrapper__topTitle ЯК БРАТИ УЧАСТЬ?
            section.section
                .section__title Участь:
                .section__txt Поповнюй ігровий баланс протягом акційного тижня, роби ставки в розділах «Спорт», «Live», «Кіберспорт» та грай в улюблені ігри розділів «Слоти», «Live ігри» та «Краш ігри».
            section.section
                .section__title Механіка:
                .section__txt Для отримання бонуса враховуються наступні показники Учасника: загальна сума всіх здійснених депозитів за один календарний тиждень - (сума виплат + сума на Основному балансі* + сума нерозрахованих ставок) та помножена на відсоток персонального бонуса у розмірі 5%, 7% або 10%. #[br]*баланс фіксується щонеділі кожного акційного тижня о 23:59 за київським часом.

            section.section
                .section__title Наприклад:
                .section__txt (2000 ₴ - (500 ₴ + 100 ₴ + 500 ₴ + 100 ₴))*% персонального бонуса = 800*5% = 40 ₴.
                .section__txt Бонус нараховується виключно у разі позитивного результату підрахунку за вищенаведеною формулою. У разі відʼємного результату або результату менше 500 ₴, – Учасник не отримує Бонус.
                .section__table-wrap
                    .section__table.table
                        .table__head
                            .table__head-col Результат за тиждень
                            .table__head-col % кешбеку
                            .table__head-col Тип виплат
                            .table__head-col Вейдже
                        .table__body
                            .table__row
                                .table__body-col 1 000 ₴ – 2 499.99 ₴
                                .table__body-col 5%
                                .table__body-col бонус
                                .table__body-col x7
                            .table__row
                                .table__body-col 2 500 ₴ – 9 999.99 ₴
                                .table__body-col 7%
                                .table__body-col бонус
                                .table__body-col x5
                            .table__row
                                .table__body-col 10 000 ₴ – 49 999.99 ₴
                                .table__body-col 7%
                                .table__body-col бонус
                                .table__body-col x3
                            .table__row
                                .table__body-col 50 000 ₴ – 99 999.99 ₴
                                .table__body-col 10%
                                .table__body-col бонус
                                .table__body-col x3
                            .table__row
                                .table__body-col 100 000 ₴ – 299 999.99 ₴
                                .table__body-col 10%
                                .table__body-col бонус
                                .table__body-col x1
                            .table__row
                                .table__body-col від 300 000 ₴
                                .table__body-col 10%
                                .table__body-col бонус
                                .table__body-col x0
            section.section
                .section__title Про Бонус:
                .section__txt Відіграш відбувається протягом 120 годин. #[br] Максимально можливий бонус для учасника акції – 100 000 ₴. #[br] Нарахування бонуса відбувається щопонеділка з 00:00 до 23:59 за київським часом.
        ._wrapper__right
            .info
                .info__title АКЦІЯ «КЕШБЕК ЗА АКТИВНУ ГРУ»
                .info__txt Акція «КЕШБЕК ЗА АКТИВНУ ГРУ» проходить з 10 грудня 2025 року до 31 січня 2026 року з персональним бонусом до 10% за минулий тиждень.
                a.info__btn.btn(href="/personal-office/balance/deposit/") Депозит
    a.bottom__btn.btn(href="/personal-office/balance/deposit/") Депозит
    section.conditionsDrop
        .container
            .conditionsDrop__drop
                details.dropdown
                    summary ПРАВИЛА ТА УМОВИ:
                    .drop-txt(data-translate="rules")
                        p ОФІЦІЙНІ ПРАВИЛА УЧАСТІ В АКЦІЇ «КЕШБЕК ЗА АКТИВНУ ГРУ»
                        p 1. Організатором та Виконавцем акції «КЕШБЕК ЗА АКТИВНУ ГРУ» (надалі – Акція) є ALLWIN (далі – Організатор).
                        p 2. Організація і проведення Акції регламентовані цими правилами (далі – Правила), офіційний текст яких опубліковано на сайті allwinua.com у розділі «Акції».
                        p 3. Мета проведення Акції – популяризація торговельної марки Організатора азартних ігор.
                        p 4. Погоджуючись з цими Правилами, Учасник підтверджує, що ознайомлений з правилами Організатора, Програмою лояльності, а також усвідомлює, що повинен дотримуватись принципів відповідальної гри, що розміщені на сайті allwinua.com.
                        p 5. Акція проводиться по всій території України, крім Автономної Республіки Крим і тимчасово окупованих територій України.
                        p 6. Місцем проведення Акції є веб-сайт allwinua.com.
                        p 7. Акція проводиться у період з 10.12.2025 року до 31.01.2026 року за київським часом.
                        p 8. Порядок участі в акції «КЕШБЕК ЗА АКТИВНУ ГРУ» (надалі – Акція):
                        p 9. Порядок участі в Акції:
                        p.retreat1 9.1. Для участі в Акції Учаснику необхідно: #[br] протягом кожного календарного тижня (з 00:01 понеділка до 23:59 неділі за київським часом) в межах загального періоду проведення Акції поповнювати ігровий баланс (здійснювати депозити) та здійснювати ставки в розділах «Спорт», «Live», «Кіберспорт», «Слоти», «Live ігри» та «Краш ігри».
                        p.retreat1 9.2. При виконанні встановлених умов у п.9.1, кожен учасник матиме право на отримання бонуса у вигляді: 5%, 7% або 10% за наступною формулою: #[br]Механіка: для отримання бонуса враховуються наступні показники Учасника: загальна сума всіх здійснених депозитів за один календарний тиждень (сума виплат + сума на Основному балансі* + сума нерозрахованих ставок) та помножена на відсоток персонального бонуса у розмірі 5%, 7% або 10%. #[br]*баланс фіксується щонеділі кожного акційного тижня о 23:59 за київським часом. #[br]Наприклад: (5000 ₴ - (1000 ₴ + 1500 ₴ + 500 ₴))*% персонального бонуса = 2000*5% = 100 ₴
                        p.retreat2 9.2.1. Бонус нараховується виключно у разі позитивного результату підрахунку за наданою формулою у п.9.2 відповідних Правил. У разі відʼємного результату або результату менше 1000₴, – Учасник не отримує Бонусну пропозицію.
                        p.retreat2 9.2.2. Бонусна пропозиція нараховується кожного календарного понеділка в межах загального періоду проведення Акції, з 00:00 до 23:59 за київським часом. Розрахунок персонального Бонуса визначається Організатором наступним чином:
                        .retreat2
                            table
                                thead
                                    tr
                                        th Результат за тиждень
                                        th % кешбеку
                                        th Тип виплати
                                        th Вейджер
                                tbody
                                    tr
                                        td 1 000 ₴ – 2 499.99 ₴
                                        td 5%
                                        td бонус
                                        td x7
                                    tr
                                        td 2 500 ₴ – 9 999.99 ₴
                                        td 7%
                                        td бонус
                                        td x5
                                    tr
                                        td 10 000 ₴ – 49 999.99 ₴
                                        td 7%
                                        td бонус
                                        td x3
                                    tr
                                        td 50 000 ₴ – 99 999.99 ₴
                                        td 10%
                                        td бонус
                                        td x3
                                    tr
                                        td 100 000 ₴ – 299 999.99 ₴
                                        td 10%
                                        td бонус
                                        td x1
                                    tr
                                        td від 300 000 ₴
                                        td 10%
                                        td бонус
                                        td x0
                        p.retreat1 9.3. При нарахуванні Організатором бонусної пропозиції Учаснику необхідно активувати доступний бонус в особистому кабінеті, натиснувши кнопку «Старт», після чого бонусні кошти буде зараховано на Бонусний баланс ігрового рахунку Учасника.
                        p.retreat1 9.4. Для подальшого зарахування коштів на Баланс до виплати Учаснику необхідно здійснити ставки у розділах «Спорт», «Live», «Кіберспорт» та у «Вейджер слотах» розділу «Слоти» на суму Х разів більшу від суми потенційного бонуса (згідно таблиці в п.9.2.2.).
                        p.retreat1 9.5. Після натискання кнопки «Старт» всі ставки, що зроблені Учасником в розділах відповідно до п.9.4 цих Правил та з урахуванням вимог п.9.7, будуть враховані до відіграшу бонусної пропозиції.
                        p.retreat1 9.6. Бонусна пропозиція буде доступна до відіграшу протягом 5 (пʼяти) днів з моменту її активації (не більше 120 годин).
                        p.retreat2 9.6.1. Відіграш отриманого бонуса відбувається за кошти з Основного балансу, які доступні до виплати. Однак, якщо в процесі відіграшу Баланс до виплати сягає 0 ₴ – відіграш продовжується на кошти з Бонусного балансу.
                        p.retreat1 9.7. Вимоги до ставок:
                        p.retreat2 1) Мінімальна сума ставки для відіграшу бонуса – відсутня;
                        p.retreat2 2) Максимальна сума ставки – 1000 ₴;
                        p.retreat2 3) Відіграш відбувається у розділах «Спорт», «Live», «Кіберспорт» та у «Вейджер слотах» розділу «Слоти».
                        p.retreat1 9.8. Максимально можлива сума бонуса для кожного учасника – 100 000 ₴.
                        p.retreat1 9.9. Бонусна пропозиція “Кешбек за активну гру” може бути доступна тільки тим, хто персонально отримав відповідну пропозицію для участі в Акції одним із доступних каналів комунікації, зокрема, але не виключно: шляхом отримання електронного листа від Організатора (email), повідомлення в особистий кабінет тощо. #[br] Повідомлення про отримання Бонусної пропозиції “Кешбек за активну гру” може бути надіслане Організатором кожного нового календарного тижня в межах проведення акції та буде доступним виключно в межах відповідного календарного тижня.
                        p 10. При виконанні всіх встановлених цими Правилами умов бонус буде нарахований в особистому кабінеті Учасника та доступний до подальшого виводу.
                        p.retreat1 10.1. Максимальна сума коштів, яка може бути доступна до виводу Учасником після відіграшу бонусної пропозиції – x1 від суми отриманого бонуса.
                        p.retreat1 10.2. У разі якщо під час відіграшу активного бонуса Учасник оформлює заявку на виведення коштів з Балансу до виплати, такий відіграваний бонус буде скасовано, а кошти, що були зараховані на Бонусний баланс (від активного бонуса), – анулюються.
                        p 11. Дані правила можуть бути змінені/доповнені Організатором протягом всього періоду проведення Акції, при цьому інформування відносно змін і доповнень буде здійснено шляхом розміщення оновленої редакції Правил на сайті. Такі зміни та доповнення вступають в силу з моменту опублікування, якщо інше не буде передбачено чинною редакцією офіційних правил.
                        p.retreat1 11.1. У випадку наявних технічних збоїв та/або інших непередбачуваних дій, що унеможливлюють проведення Акції, Організатор залишає за собою право призупинити проведення такої Акції та/або скасувати її, без виплати будь-якої додаткової компенсації учасникам.
                        p.retreat1 11.2. Організатор має право на власний розсуд відмовити в бонусі будь-якому Учаснику або групі Учасників.

